@import "./../../colors.scss";
@import "./../../mixins.scss";

.header-container {
  background: $black;
  display: flex;
  justify-content: space-between;
  width: inherit;
  box-shadow: 0px 6px 16px -4px rgba(66, 68, 90, 1);
  border-radius: 0 0 6px 6px;
  z-index: 999;

  .logo {
    font-size: 20px;
    color: white;
    span {
      color: $gold;
    }
  }

  .menu {
    display: flex;
    list-style: none;

    .admin {
      a {
        color: $adminColor;
        &:hover {
          color: $adminColorHover;
        }
      }
    }

    a {
      padding: 24px 20px;
      color: white;
      text-decoration: none;
      border-top: 2px solid $black;
      border-bottom: 2px solid $black;
      &:hover {
        color: $gold;
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
      }
    }

    .logout {
      padding: 24px 20px;
      color: white;
      text-decoration: none;
      border-top: 2px solid $black;
      border-bottom: 2px solid $black;
      &:hover {
        cursor: pointer;
        color: $gold;
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
      }
    }
  }

  @media (max-width: $breakpoint-mobile) {
    flex-wrap: wrap;
    justify-content: center;

    .logo {
      font-size: 16px;
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 10px;
    }

    .menu {
      flex-basis: 100%;
      justify-content: center;
      a,
      .logout {
        padding: 10px;
        font-size: 14px;
      }
    }
  }

  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    .logo {
      font-size: 18px;
    }

    .menu a,
    .menu .logout {
      padding: 18px 15px;
    }
  }
}
